@charset "UTF-8";
:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --logo-header-part-color: #000000;
  --logo-footer-part-color: #ffffff;
  --contacts-header-color: #757575;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --placeholder-text-color: rgba(117, 117, 117, 0.5);
  --banner-btn-hover-color: #188ce8;
  --primery-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --icon-bg-color: #f5f4fa;
  --icon-fill-color: #afb1b8;
  --footer-icon-bg-color: rgba(255, 255, 255, 0.1);
  --modal-bg-overlay-color: rgba(0, 0, 0, 0.2);
  --work-title-bg-color: rgba(47, 48, 58, 0.8);
  --thumb-bg-color: rgba(33, 150, 243, 0.9);
  --border-header-color: #ececec;
  --card-border-color: #eeeeee;
  --modal-close-border-color: rgba(0, 0, 0, 0.1);
  --form-input-border: rgba(33, 33, 33, 0.2);
  --form-input-footer-border: rgba(255, 255, 255, 0.3);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --filters-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --card-projects-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --banner-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --card-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* страница */
body {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);
}
@media screen and (min-width: 320px) {
  body {
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

/* все img-файлы */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* маркеры в списках */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* все контейнеры */
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* все секции, кроме баннера */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media (min-width: 320px) and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* все заголовки секций */
.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primery-text-color);
}
@media screen and (max-width: 1199px) {
  .section__title {
    margin-bottom: 30px;
  }
}

.buttons {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  padding: 10px;
  font-weight: 700;
  line-height: 0.53;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: transparent;
  box-shadow: var(--banner-button-shadow);
}

.page-header {
  border-bottom: 1px solid var(--border-header-color);
  min-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--primery-bg-color);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-header {
    display: flex;
    min-height: 60px;
  }
}

.page-header__container {
  position: relative;
  display: flex;
  align-items: center;
}

.page-header__links {
  display: flex;
  align-items: center;
}

.page-header .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* логотип в шапке */
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}
@media screen and (max-width: 1199px) {
  .logo {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.08;
  }
}
@media screen and (min-width: 320px) {
  .logo {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo-part {
  color: var(--logo-header-part-color);
}

/* навигация сайта */
.site-nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primery-text-color);
  transition: color 250ms var(--timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link:active {
  color: var(--accent-color);
}

.site-nav__link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* контакты в шапке */
.contacts {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin: 0 0 10px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__item {
  color: var(--contacts-header-color);
}

.contacts__link {
  color: var(--contacts-header-color);
  transition: color 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link:hover,
.contacts__link:focus,
.contacts__link:active {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.contacts__icon:hover,
.contacts__icon:focus {
  fill: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 12px 8px;
    border: none;
    background-color: transparent;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover,
.menu-button:focus {
  fill: var(--accent-color);
}

.menu-button .cross-icon {
  display: none;
}

.menu-button.is-open .cross-icon {
  display: flex;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1;
}

.menu-button.is-open .menu-icon {
  display: none;
}

.menu-container {
  background-color: var(--primery-bg-color);
  padding: 48px 40px;
  display: none;
  overflow-y: scroll;
}
.menu-container.is-open {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}
@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}
.menu-container .menu-nav__item {
  padding: 0;
}
@media screen and (min-width: 480px) {
  .menu-container .menu-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.menu-container .menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: inherit;
}
.menu-container .menu-nav__link.current {
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .menu-container .menu-contacts__item:not(:last-child) {
    margin-bottom: 32px;
    padding: 0;
  }
}
.menu-container .menu__contacts {
  margin-top: auto;
  margin-bottom: 64px;
}
.menu-container .menu-contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: inherit;
}
.menu-container .menu-contacts__link.mail {
  font-size: 24px;
  line-height: 1.17;
  color: var(--title-text-color);
}
.menu-container .menu-contacts__link.tel {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}
.menu-container .menu__socials {
  display: flex;
  flex-wrap: wrap;
}
.menu-container .page__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: inherit;
  color: var(--accent-color);
}
.menu-container .social__page:not(:last-child)::after {
  content: "";
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg) translateX(-1px);
  transform-origin: left top;
  margin-left: 10px;
  margin-right: 10px;
}

/* баннер */
.banner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--second-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner/mobile-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner .banner {
    background-image: url("../images/banner/mobile-banner@2x.jpg");
  }
}
@media screen and (min-width: 320px) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner/mobile-banner.jpg");
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner/mobile-banner@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner/tablet-banner.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner/tablet-banner@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner/desktop-banner.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner/desktop-banner@2x.jpg");
  }
}
@media (min-width: 320px) and (max-width: 1199px) {
  .banner {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 480px) {
  .banner {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.banner__title {
  margin-top: 0;
  margin-bottom: var(--card-gap);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-text-color);
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .banner__title {
    font-size: 26px;
    line-height: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .banner__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/* кнопка в баннере */
.banner__button {
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: transparent;
  box-shadow: var(--banner-button-shadow);
  transition: background-color 250ms var(--timing-function);
}

.banner__button:hover,
.banner__button:focus {
  background-color: var(--banner-btn-hover-color);
}

/* особенности */
.features {
  margin-right: -30px;
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  margin-bottom: var(--card-gap);
  margin-right: 30px;
}
@media screen and (min-width: 320px) {
  .features__item {
    width: calc((100% - 1 * 30px) / 1);
  }
}
@media screen and (min-width: 480px) {
  .features__item {
    width: calc((100% - 1 * 30px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.features__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--icon-bg-color);
  border-radius: 4px;
  margin-bottom: var(--card-gap);
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-text-color);
}
@media (min-width: 320px) and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.7;
  color: var(--title-text-color);
}

/* чем мы занимаемся */
.section__working {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section__working {
    display: none;
  }
}

.working__list {
  display: flex;
  margin-right: -30px;
}

.working__item {
  position: relative;
  width: calc((100% - 3 * 30px) / 3);
}

.working__item:not(:last-child) {
  margin-right: var(--card-gap);
}

.working__title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--work-title-bg-color);
}

.work__title {
  margin: 0;
  font-size: 14px;
  line-height: 0.9;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* наша команда */
.section__team {
  background-color: var(--icon-bg-color);
}

.team__list {
  margin-right: -30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__member {
  background-color: var(--primery-bg-color);
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  margin-bottom: var(--card-gap);
  margin-right: var(--card-gap);
}
@media screen and (min-width: 480px) {
  .team__member {
    width: calc((100% - 1 * 30px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .team__member {
    width: calc((100% - 2 * 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__member {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.member__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primery-text-color);
}

.member__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.member__pages {
  display: flex;
  justify-content: center;
}

.member__page:not(:last-child) {
  margin-right: 10px;
}

.page__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: var(--icon-fill-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.page__icon:hover,
.page__icon:focus {
  background-color: var(--accent-color);
  color: var(--primery-bg-color);
}

.page__icon .icon {
  fill: currentColor;
}

/* постоянные клиенты */
.clients {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.clients__group {
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) {
  .clients__group {
    width: calc((100% - 2 * 30px) / 2);
  }
}
@media screen and (min-width: 480px) {
  .clients__group {
    width: calc((100% - 2 * 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__group {
    width: calc((100% - 3 * 30px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__group {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: var(--icon-fill-color);
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.clients__icon:hover,
.clients__icon:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.group__icon {
  fill: currentColor;
}

/* подвал */
.footer {
  padding: 60px 0;
  background-color: var(--second-bg-color);
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__adress-pages {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__adress-pages {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}

.footer__address {
  margin: 0;
}
@media screen and (min-width: 320px) {
  .footer__address {
    margin: 0;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__address {
    margin: 0;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin: 0;
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}

.footer__logo-part {
  color: var(--logo-footer-part-color);
}

.address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  color: var(--white-text-color);
}

.address__text {
  margin-top: 0;
  margin-bottom: 9px;
}

/* контакты в подвале */
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--contacts-footer-color);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.address__link:hover,
.address__link:focus,
.address__link:active {
  color: var(--accent-color);
}

@media screen and (min-width: 320px) {
  .footer__social {
    margin: 0;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__social {
    margin: 0;
  }
}

.social__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
  color: var(--white-text-color);
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .social__title {
    text-align: center;
  }
}

.social__pages {
  display: flex;
}
@media screen and (min-width: 320px) {
  .social__pages {
    justify-content: center;
  }
}

.social__page:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--primery-bg-color);
  background-color: var(--footer-icon-bg-color);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.social__icon:hover,
.social__icon:focus {
  background-color: var(--accent-color);
}

.social__icon .icon {
  fill: currentColor;
}

.footer__form {
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer__form {
    margin-top: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    margin-left: auto;
  }
}

.footer__form-title {
  margin: 0;
  margin-bottom: 20px;
  color: var(--white-text-color);
}
@media screen and (min-width: 320px) {
  .footer__form-title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .form__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__form-input {
  height: 50px;
  padding: 15px 16px;
  outline: none;
  border: 1px solid var(--form-input-footer-border);
  border-radius: 4px;
  filter: drop-shadow(var(--banner-button-shadow));
  background-color: var(--second-bg-color);
  color: var(--white-text-color);
}
@media screen and (min-width: 320px) {
  .footer__form-input {
    margin: auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .footer__form-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-input {
    width: 358px;
    margin: 0;
    margin-right: 12px;
  }
}

.footer__form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: var(--contacts-footer-color);
}

.footer__form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: var(--contacts-footer-color);
}

.footer__form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: var(--contacts-footer-color);
}

.footer__send-icon {
  margin-left: 10px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer__form .submit-btn {
    margin: auto;
  }
}

.btns-filters__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 320px) {
  .btns-filters__list {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .btns-filters__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .btns-filters__list {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filters__item {
    margin-bottom: 15px;
  }
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: var(--icon-bg-color);
  border: transparent;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter__button:hover,
.filter__button:focus,
.filter__button:active {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--filters-shadow);
}

/* projects cards */
.projects {
  margin-right: -30px;
}
@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
}

.project {
  margin-right: var(--card-gap);
  margin-bottom: var(--card-gap);
  background-color: var(--primery-bg-color);
}
@media screen and (min-width: 320px) {
  .project {
    width: calc((100% - 1 * 30px) / 1);
  }
}
@media screen and (min-width: 480px) {
  .project {
    width: calc((100% - 1 * 30px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .project {
    width: calc((100% - 2 * 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.project__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--timing-function);
}

.project__link:hover,
.projects__link:focus {
  box-shadow: var(--card-projects-shadow);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--thumb-bg-color);
  transition: transform 250ms var(--timing-function);
  transform: translateY(100%);
}

.project__link:hover .project__description,
.project__link:focus .project__description {
  transform: translateY(0);
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 322px;
  height: 168px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--white-text-color);
}

.project__content {
  padding: 20px 24px;
  border-top: transparent;
  border-bottom: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__content.first {
    padding-bottom: 56px;
  }
}

.project__name {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

.project__type {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--title-text-color);
}

/* модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 100;
  background-color: var(--modal-bg-overlay-color);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
@media screen and (min-width: 320px) {
  .backdrop {
    padding: 93px 15px 94px 15px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px 207px 159px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  padding: 40px;
  background-color: var(--primery-bg-color);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    width: 100%;
  }
}

.modal__close-btn {
  position: fixed;
  top: 8px;
  right: 8px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--primery-bg-color);
  border: 1px solid var(--modal-close-border-color);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--timing-function);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  fill: var(--accent-color);
}

.modal__form {
  position: relative;
}

.modal__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--primery-text-color);
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.9;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form__input-icon {
  position: relative;
}

.form__input {
  width: 100%;
  margin: 0;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid var(--form-input-border);
  border-radius: 4px;
}

.form__field:focus-within .form__input {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form__field:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__comment {
  resize: none;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid var(--form-input-border);
  border-radius: 4px;
}

.form__field:focus-within .form__comment {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.9;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.9;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.9;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: var(--white-text-color);
}

.check__text {
  font-weight: 400;
  line-height: 1.16;
  color: var(--title-text-color);
}
@media screen and (max-width: 1199px) {
  .check__text {
    font-size: 12px;
  }
}

.check__input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.check__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primery-text-color);
  border-radius: 2px;
  background-color: var(--primery-bg-color);
}

.check__input:checked + .check__icon {
  background-image: url(../images/check.svg);
  background-color: var(--accent-color);
  border-color: transparent;
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.check__input:focus + .check__icon {
  border-color: var(--accent-color);
}

.check__contract-link {
  color: var(--accent-color);
}

.modal__submit-btn {
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms var(--timing-function);
}

.modal__submit-btn :hover,
.modal__submit-btn :focus {
  background-color: var(--banner-btn-hover-color);
}/*# sourceMappingURL=main.css.map */