/* постоянные клиенты */
.clients {
  display: flex;
  flex-wrap: wrap;
}

.clients__group:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;

  color: var(--icon-fill-color);
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function),
    color 250ms var(--timing-function);

  @media screen and (min-width: $mobile) {
    flex-basis: 210px;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: 226px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: 170px;
  }
}

.clients__icon:hover,
.clients__icon:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.group__icon {
  fill: currentColor;
}
