/* постоянные клиенты */
.clients {
  display: flex;
}

.clients__group:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  color: var(--icon-fill-color);
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.clients__icon:hover,
.clients__icon:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.group__icon {
  fill: currentColor;
}
