/* постоянные клиенты */
.clients {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}

.clients__group {
  margin-top: var(--card-gap);
  margin-left: var(--card-gap);

  @media screen and (min-width: $mobile) {
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 480px) {
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;

  color: var(--icon-fill-color);
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.clients__icon:hover,
.clients__icon:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.group__icon {
  fill: currentColor;
}
