/* особенности */
.features {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  @media screen and (min-width: $mobile) {
    flex-basis: 450px;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.features__item:not(:last-child) {
  margin-right: var(--card-gap);
}

.features__icons {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: var(--icon-bg-color);
  border-radius: 4px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;

  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primery-text-color);

  @media (min-width: $mobile) and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  line-height: 1.7;

  color: var(--title-text-color);
}
