/* особенности */
.features {
  margin-top: -30px;
  margin-left: -30px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  margin-top: var(--card-gap);
  margin-left: var(--card-gap);

  @media screen and (min-width: $mobile) {
    width: calc((100% - 1 * 30px) / 1);
  }

  @media screen and (min-width: 480px) {
    width: calc((100% - 1 * 30px) / 1);
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.features__icons {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;

  background-color: var(--icon-bg-color);
  border-radius: 4px;

  margin-bottom: var(--card-gap);
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;

  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primery-text-color);

  @media (min-width: $mobile) and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  line-height: 1.7;

  color: var(--title-text-color);
}
