/* модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--modal-bg-overlay-color);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;
  min-width: 528px;

  background-color: var(--primery-bg-color);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;

  transition: transform 250ms var(--timing-function);
}

.modal__close-btn {
  position: fixed;
  top: 8px;
  right: 8px;

  display: inline-block;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background-color: var(--primery-bg-color);
  border: 1px solid var(--modal-close-border-color);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms var(--timing-function);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  fill: var(--accent-color);
}

.modal__form {
  position: relative;
}

.modal__title {
  margin: 0;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 0.9;
  text-align: center;

  color: var(--primery-text-color);
}

.form__field {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 0.9;
  letter-spacing: 0.01em;

  color: var(--title-text-color);
}

.form__input-icon {
  position: relative;
}

.form__input {
  width: 100%;
  margin: 0;
  padding: 12px;
  padding-left: 42px;

  border: 1px solid var(--form-input-border);
  border-radius: 4px;
}

.form__field:focus-within .form__input {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);
}

.form__field:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__comment {
  resize: none;

  width: 448px;
  height: 120px;

  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid var(--form-input-border);
  border-radius: 4px;
}

.form__field:focus-within .form__comment {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.9;
  letter-spacing: 0.01em;

  color: var(--placeholder-text-color);
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  color: var(--white-text-color);
}

.check__text {
  font-weight: 400;
  line-height: 0.6;

  color: var(--title-text-color);
}

.check__input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.check__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--primery-text-color);
  border-radius: 2px;
  background-color: var(--primery-bg-color);
}

.check__input:checked + .check__icon {
  background-image: url(../images/check.svg);
  background-color: var(--accent-color);
  border-color: transparent;
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.check__input:focus + .check__icon {
  border-color: var(--accent-color);
}

.check__contract-link {
  color: var(--accent-color);
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  height: 50px;
  padding: 10px;

  font-weight: 700;
  line-height: 0.53;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: transparent;
  box-shadow: var(--banner-button-shadow);
}

.modal__submit-btn {
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms var(--timing-function);
}

.modal__submit-btn :hover,
.modal__submit-btn :focus {
  background-color: var(--banner-btn-hover-color);
}
