/* projects cards */
.projects {
  margin-right: -30px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.project {
  margin-right: var(--card-gap);
  margin-bottom: var(--card-gap);

  // border-top: transparent;
  // border-bottom: 1px solid var(--card-border-color);
  // border-right: 1px solid var(--card-border-color);
  // border-left: 1px solid var(--card-border-color);

  background-color: var(--primery-bg-color);

  @media screen and (min-width: $mobile) {
    width: calc((100% - 1 * 30px) / 1);
  }

  @media screen and (min-width: 480px) {
    width: calc((100% - 1 * 30px) / 1);
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.project__link {
  display: block;

  text-decoration: none;

  transition: box-shadow 250ms var(--timing-function);
}

.project__link:hover,
.projects__link:focus {
  box-shadow: var(--card-projects-shadow);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--thumb-bg-color);

  transition: transform 250ms var(--timing-function);

  transform: translateY(100%);
}

.project__link:hover .project__description,
.project__link:focus .project__description {
  transform: translateY(0);
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;

  width: 322px;
  height: 168px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  color: var(--white-text-color);
}

.project__content {
  padding: 20px 24px;

  border-top: transparent;
  border-bottom: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}

.project__content.first {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    padding-bottom: 56px;
  }
}

.project__name {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primery-text-color);
}

.project__type {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  color: var(--title-text-color);
}
