:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --logo-header-part-color: #000000;
  --logo-footer-part-color: #ffffff;
  --contacts-header-color: #757575;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --placeholder-text-color: rgba(117, 117, 117, 0.5);

  --banner-btn-hover-color: #188ce8;
  --primery-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --icon-bg-color: #f5f4fa;
  --icon-fill-color: #afb1b8;
  --footer-icon-bg-color: rgba(255, 255, 255, 0.1);
  --modal-bg-overlay-color: rgba(0, 0, 0, 0.2);
  --work-title-bg-color: rgba(47, 48, 58, 0.8);
  --thumb-bg-color: rgba(33, 150, 243, 0.9);

  --border-header-color: #ececec;
  --card-border-color: #eeeeee;
  --modal-close-border-color: rgba(0, 0, 0, 0.1);
  --form-input-border: rgba(33, 33, 33, 0.2);
  --form-input-footer-border: rgba(255, 255, 255, 0.3);

  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --filters-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --card-projects-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --banner-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  --card-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
